.bg-main {
  background: linear-gradient(
    -145deg,
    #21000f,
    #000f2b,
    #320038,
    #000000,
    #0b0c38
  );
  background-size: 400% 400%;
  animation: technoGradient 10s ease-in-out infinite;
  background-repeat: no-repeat;
  background-attachment: fixed; /* fixa o background no scroll */
}
  
@keyframes technoGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-border{
  text-shadow:
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

.bg-default{
  background-color: #00000000;
}

.some{
  writing-mode: vertical-rl;
  text-orientation: upright;
}
  